
html, .beige {
    background-color: beige;
  }

.center {
    text-align: center;
    align-items: center;
    font-weight: bold;
}

.centerall {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

p, h1, .text01 {
  font-family: Inter, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgb(150, 113, 18);
}

  a {
  font-family: Inter, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  color: rgb(150, 113, 18);
  

 }

 a:link { 
  text-decoration: none; 
  text-decoration-line: underline;
  text-decoration-style: dotted;
} 
a:visited { 
  text-decoration: none; 
} 
a:hover { 
  text-decoration: none; 
  text-decoration-line: underline overline;
  text-decoration-style: dotted;
} 
a:active { 
  text-decoration: none; 
  text-decoration-line: underline overline;
  text-decoration-style: solid;
}

.dropdown {
    position: relative;
    display: inline-block;
    padding: 6px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: 1px solid;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .desc {
    padding: 15px;
    text-align: center;
    font-weight: bolder;
  }





  ul {
    list-style-type: circle;
    list-style-position: outside;
    list-style-image: none;
  }

  .img2 {
    height: auto;
    width: 400px;
  }

  .container {
    position: relative;
    width: 50%;
  }
  
  .image {
    opacity: 1;
    display: block;
    width: 400px;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container:hover .image {
    opacity: 0.3;
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: beige;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }